{% extends 'base.html' %}

{%block content%}
    <div class="container">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="intro">
                <h2 style="font-size: 40px; padding-top: 40px;">The Best way to Enhance<br> Your Typing Speed</h2>
        
                <br><br>

                <p class= "text-muted" style="font-size: 18px;">typing app offers a fun way to get better at the thing you do <br>
                everyday:typing</p>           
                <br>
                <p class= "text-muted">Don't practice until you get it right,
                <br>Practice until you can't get it wrong.</p>
                <br><br>
                <a href="#"><button class="btn btn-secondary">Create a Free Account</button> </a>
            </div>
            <div class=" fav-texts jumbotron text-center " style= "background-color:rgba(255, 255, 255, 0.836)">
                <h3>Use Your Favorite Texts!</h3>
                <br><br>
                <p class="text-muted">Are you an avid reader, a singer, or a poet? You can useany text you<br>
                    want to with typing app.<br><br>
                    This brings all the fun you have with your other activities to typing. So<br>
                    no more boredom and no more not practising because typing isn't<br>
                    engaging
                <p><br><br><br>
            </div>
            <div class="text-center">
                <h3 style="font-size: 40px; font-weight: bold;">Become the Best</h3>
                <br><br>
                <p class="text-muted" style="font-size:18px; line-height: 3px;">Are you competitive or someone who wants to track their progress?<br>
                    Typing board provides a leaderboard that allows<br>
                    you to know your position in the pack.
                <p><br><br><br>
            </div>

        </div>
        <div class="col-md-1"></div>
    </div>

{% endblock %}
