{% extends 'base.html' %}

{%block content%}
<div class="home">
  <div class="container">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div>
        <h2 id="title" style="font-size: 50px; font-family: 'Lobster', cursive;  padding-top: 40px; text-align: center;">
          Welcome to Typing-App</h2>
        <hr>
        
        <br><br>

        <p style="font-size: 20px;">Don't practice until you get it right,
          <br>Practice until you can't get it wrong.</p>

      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<style>
  body {
    background-image: url('https://images.unsplash.com/photo-1564564179979-5e9833a3a8f5?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8dHlwaW5nJTIwc3BlZWR8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Courier New', cursive;
  }
</style>
{% endblock %}
