<nav class="navbar ">
    <div class=" container-fluid " style="text-decoration: none; color: #fff;">
        <div class="navbar-header ">
            <button type="button " class="navbar-toggle " data-toggle="collapse " data-target=".navbar-collapse ">
                <span class="sr-only ">Toggle navigation</span>
                <span class="icon-bar "></span>
                <span class="icon-bar "></span>
                <span class="icon-bar "></span>
            </button>
            <a href="/ " class="navbar-brand "><Strong>TYPING-APP</Strong></a>
        </div>
        <div class="navbar-collapse collapse ">
            <ul class="nav navbar-nav ">
                <li>
                    <a href="/ " style="text-decoration: none;">HOME</a>
                </li>                
            </ul>

            <ul class="nav navbar-nav navbar-right ">
                <li>
                    <a href="#" style="text-decoration: none; ">
                        PROFILE</a>
                </li>


                <li>
                    <a href="{{url_for( 'auth.logout')}} " style="text-decoration: none; ">SIGN OUT</a>
                </li>

                </li>

                <li>
                    <a href="{{url_for( 'auth.login')}} " style="text-decoration: none; ">LOGIN</a>
                </li>

            </ul>
        </div>
    </div>
    </div>
</nav>
